CompileFlags:
  Add:
    - "-Werror"
    - "-Wextra"
    - "-Wall"
    - "-g3"
    - "-I/opt/X11/include"
    - "-I/Users/raphael/Documents/42_cursus/circle4/Cub3D/includes"
    - "-I/Users/raphael/Documents/42_cursus/circle4/Cub3D/includes/include"
    - "-I/Users/raphael/Documents/42_cursus/circle4/Cub3D/minilibx-linux"
